node_modules/
.next/
__pycache__/
*.pyc
.env
ip_sakti_users.db
.DS_Store
.ipynb_checkpoints/
anaconda_projects/
venv/

# Excluded Notebooks & Datasets
finetuning_dataset/
04_dataset_generator.ipynb
05_finetuning_colab.ipynb
